/** #header{ margin: 250px auto 0 auto ;}*/
h1{ padding: 6.5em 1em;background-image: url(fontys614x345.jpg);    background-repeat: no-repeat; background-size: 100%;
    no-repeat; width:100%; letter-spacing:.1em; color:#white; font-weight: bolder;}
#footer{height:80px;background-image:url('fontys-wit.svg');background-repeat: no-repeat; background-position:bottom right; background-size: 100px;}
#preamble{ position: relative;}
#header {
  /* position: absolute;
  top:0px; left:2rem; */
}
#header h1:first-child{
  position:relative;
  margin-top:0em;
  padding:0em 2em 2em 1em;
  width:100%;
  text-align:center;
  color:white;
  /* box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2); */
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}
#main-menu td {text-decoration: none; text-align:center; font-style:bolder; background-color:#EEE;}
  /* -webkit-box-shadow: 2px 8px 6px -6px black;
	   -moz-box-shadow: 2px 8px 6px -6px black;
	        box-shadow: 2px 8px 6px -6px black;
} */
#main-menu table {border-width: 0px;poistion:aboslute; top:0;}
#main-menu td :hover {background-color:white; text-align:center;}
#main-menu th {background-color:white; }

       /* -webkit-box-shadow: inset 3px 1px #aaa;
          -moz-box-shadow: inset 3px 1px #aaa;
               box-shadow: inset 3px 1px #aaa;
} */
#main-menu th > p {text-align: center;}
#main-menu a {text-decoration: none;}
.admonitionblock.extra td.icon .icon-note:before {
  content: url(extra_challenge_small.png);
  color:#000;
}

.admonitionblock {
  margin : 1em 0 1em 0;
  border: solid 1px;
  border-radius: 5px;
}

.tip {border:  solid green 2px;}
.note {background: #bbddff; border-color: darkblue;}
.caution{ background-color: white; border: solid red 5px; border-radius: 15px;}
/* .main-menu > :hover {text-decoration: none; font-style:bolder;} */
/* #toc.toc2{background-image:url('fontys.svg');background-repeat: no-repeat; background-position:left bottom; background-size: 100%;} */
#top-button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the bmkdir utton 30px from the left */
  z-index: 1099; /* Make sure it does not overlap */
  border:solid #909; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #606; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#top-button:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#footer-text{ margin-left: 150px;}
#footer { z-index: 1040;}
.bigger{ font-size: 120%;}
.gray{ color: #ccc; }
